@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:after,
:before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --foreground: #ffffff; /* White background */
  --background: #05054d; /* Deep blue foreground */
  --primary: #001aef;
  --secondary: #333598;
  --tertiary: #a0a0ff;
  --black: #070834;
  --lose: #00042380;
  --gain: #85ec7c;
  --darkBlue: #181A5D;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.lose {
  background: var(--lose);
}
.gain {
  background: var(--gain);
}

.bg-dark-blue {
  background: var(--darkBlue);
}